Options -Indexes

ErrorDocument 404 /error_documents/missing.html
ErrorDocument 403 /error_documents/forbidden.html
ErrorDocument 402 /error_documents/failed_auth.html
ErrorDocument 500 /error_documents/internal_error.html

# Allow JSBeeb and XR Beeb to load disc images from this site
SetEnvIf Origin "https://(bbc.xania.org|xr.bbcmic.ro)$" AccessControlAllowOrigin=$0
Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
Header merge Vary Origin

# Tell web browsers not to even try HTTP on this domain for the next year
Header set Strict-Transport-Security "max-age=31536000" env=HTTPS

<IfModule mod_deflate.c>
	SetOutputFilter DEFLATE
	SetEnvIfNoCase Request_URI \.(gif|jpg|jpeg|png|zip|pdf|epub|kmz|mobi)$ no-gzip dont-vary
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 2 days"
	<FilesMatch "\.(ico|gif|jpg|jpeg|png|flv|pdf|swf|mov|mp3|wmv|ppt)$">
		ExpiresDefault "access plus 1 year"
		Header append Cache-Control "public"
	</FilesMatch>
	<FilesMatch "\.(xml|txt|html|js|css)$">
		ExpiresDefault "access plus 1 month"
		Header append Cache-Control "private, must-revalidate"
	</FilesMatch>
	<FilesMatch "\.(php|cgi|pl)$">
		ExpiresDefault "access plus 0 seconds"
		Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
		Header set Pragma "no-cache"
	</FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^(css|javascript)(/|-)\d+/(.+)$ $1/$3 [L]

	RewriteCond %{REQUEST_URI} ^/tape/
	RewriteRule ^tape/(.*)$ /cassette/$1 [R=301,L]

	RewriteCond %{REQUEST_URI} ^/(cassette|disc|6502sp)/([^/]+)/(subroutine|variable|macro|workspace)_([^/]+)_(loader|loader_1|loader_2|loader_3|i_o_processor|docked|flight|big_code_file|text_tokens|missile_ship_blueprint|ship_blueprints_[a-p])\.html
	RewriteRule ^(cassette|disc|6502sp)/([^/]+)/(subroutine|variable|macro|workspace)_([^/]+)_(loader|loader_1|loader_2|loader_3|i_o_processor|docked|flight|big_code_file|text_tokens|missile_ship_blueprint|ship_blueprints_[a-p])\.html$ /$1/$5/$3/$4.html [R=301,L]

	RewriteCond %{REQUEST_URI} ^/(cassette|disc|6502sp)/([^/]+)/(subroutine|variable|macro|workspace)_([^/]+)\.html
	RewriteRule ^(cassette|disc|6502sp)/([^/]+)/(subroutine|variable|macro|workspace)_([^/]+)\.html$ /$1/main/$3/$4.html [R=301,L]

	RewriteCond %{REQUEST_URI} ^/compare/
	RewriteRule ^compare/$ /compare/versions_of_elite.html [R=301,L]
	RewriteRule ^compare/versions_of_elite.html$ /alias/compare/versions_of_elite.html [L,QSA]
	RewriteRule ^compare/releases.html$ /alias/compare/releases.html [L,QSA]
	RewriteRule ^compare/how_to_compare.html$ /alias/compare/how_to_compare.html [L,QSA]
	RewriteRule ^compare/feature_comparison.html$ /alias/compare/feature_comparison.html [L,QSA]

	RewriteCond %{REQUEST_URI} ^/6502sp/
	RewriteRule ^6502sp/$ /alias/6502sp/ [L,QSA]
	RewriteRule ^6502sp/releases.html$ /alias/6502sp/releases.html [L,QSA]

	RewriteCond %{REQUEST_URI} ^/cassette/
	RewriteRule ^cassette/$ /alias/cassette/ [L,QSA]
	RewriteRule ^cassette/releases.html$ /alias/cassette/releases.html [L,QSA]

	RewriteCond %{REQUEST_URI} ^/disc/
	RewriteRule ^disc/$ /alias/disc/ [L,QSA]
	RewriteRule ^disc/releases.html$ /alias/disc/releases.html [L,QSA]

	RewriteCond %{REQUEST_URI} ^/electron/
	RewriteRule ^electron/$ /alias/electron/ [L,QSA]
	RewriteRule ^electron/releases.html$ /alias/electron/releases.html [L,QSA]

	RewriteCond %{REQUEST_URI} ^/elite-a/
	RewriteRule ^elite-a/$ /alias/elite-a/ [L,QSA]
	RewriteRule ^elite-a/releases.html$ /alias/elite-a/releases.html [L,QSA]

	RewriteCond %{REQUEST_URI} ^/master/
	RewriteRule ^master/$ /alias/master/ [L,QSA]
	RewriteRule ^master/releases.html$ /alias/master/releases.html [L,QSA]

	RewriteCond %{REQUEST_URI} ^/nes/
	RewriteRule ^nes/$ /alias/nes/ [L,QSA]
	RewriteRule ^nes/releases.html$ /alias/nes/releases.html [L,QSA]

	RewriteCond %{REQUEST_URI} ^/playing_elite/
	RewriteRule ^playing_elite/$ /alias/playing_elite/ [L,QSA]

	RewriteCond %{REQUEST_URI} ^/terminology
	RewriteRule ^terminology/?$ /about_site/terminology_used_in_this_commentary.html [R=301,L]

	RewriteCond %{REQUEST_URI} ^(.*/)?index\.html?
	RewriteRule ^(.*/)?index\.html?$ /$1 [R=301,L]

	RewriteCond %{REQUEST_URI} ^(.*)//(.*)$ [NC]
	RewriteRule . %1/%2 [R=301,L]
</IfModule>

<IfModule mod_mime.c>
	AddType application/x-httpd-php .php 		# Mac
	AddType application/x-httpd-php .html		# Mac
	#AddHandler fcgid-script .html			# Dreamhost
	#FcgidWrapper "/dh/cgi-system/php82.cgi" .html	# Dreamhost
	AddType text/x-component .htc
	AddType application/vnd.google-earth.kml+xml .kml
	AddType application/vnd.google-earth.kmz .kmz
	AddCharset UTF-8 .html
	AddCharset UTF-8 .php
	AddCharset UTF-8 .cgi
</IfModule>
