/* Print style sheet for bbcelite.com */

body {
	font-family: "times new roman", times, serif; 
	font-size: 1em;
	background-color: #fff;
	margin: 0;
	padding: 0;
	width: 100%;
}

header, #burger-menu {
	display: none;
}

article {
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	background-color: #fff;
}

blockquote {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
	padding: 4px;
	border: none;
	background-color: #fff;
}

a,
#topSlot a,
#bottomSlot a,
#sidebar a,
#copyright a,
a:visited,
#topSlot a:visited,
#bottomSlot a:visited,
#sidebar a:visited,
#copyrightMessage a:visited {
	color: #000;
	text-decoration: none;
}
